body {
    font-family: 'Open Sans', sans-serif;
    background: url('paper.jpg') no-repeat center center fixed;
    color: #333;
    background-size: cover;
    max-width: 1920px;
}
header {
    background: #34495e;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
h1 {
    font-size: 2.3em;
    font-family: 'Cinzel', serif;
    animation: glow 3s infinite alternate;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-top: 30px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-top: 120px;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover { color: #f1c40f; }
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 40px auto;
    max-width: 1000px;
}
.gallery img, .gallery iframe {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.3);
    transition: transform 0.4s, box-shadow 0.4s;
}
iframe{
    margin: 20px 6%;
    width: 840px;
    height: 473px;
    border-radius: 15px;
}