body {
    font-family: 'Open Sans', sans-serif;
    background: url('paper.jpg') no-repeat center center fixed;
    color: #333;
    background-size: cover;
}
header {
    background: #34495e;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
h1 {
    font-size: 2.3em;
    font-family: 'Cinzel', serif;
    animation: glow 3s infinite alternate;
}
h2{
    background: #d09f72;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-top: 30px;
    border-radius: 50px;
    margin-left: 30%;
    margin-right: 30%;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-top: 120px;
}
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
nav a:hover { color: #f1c40f; }
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.gallery img, .gallery iframe {
    flex: 1 1 300px;
    max-width: 100%;
    border-radius: 30px;
}
iframe {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
}